body {
    background-color: $background-color;
    font-family: $main-font-style;
    font-size: $main-font-size;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0;
}

@mixin button ($width, $height, $bgcolor, $color) {
    width: $width;
    height: $height;
    background-color: $bgcolor;
    border: none;
    font-weight: 700;
    font-size: 12px;
    line-height: 1.25;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    color: $color;
    cursor: pointer;
}