%ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

%padding-for-section{
    @media screen and (max-width: 767px){
        padding-left: 20px;
        padding-right: 20px;
    }
    @media screen and (min-width: 768px) and (max-width: 1365){
        padding-left: 32px;
        padding-right: 32px;
    }
    @media screen and (min-width: 1366px){
        padding-left: 16px;
        padding-right: 16px;
    }
}