$tittle-color: #111518;
$secondary-color: #FF6B09;
$primary-color: #B9B9B9;
$background-color: #FFFFFF;
$secondary-text-color: #3D3D3D;
$main-font-style: 'Montserrat', sans-serif;
$main-font-size: 14px;