.benefits{
    background-image: linear-gradient(to bottom, $tittle-color 65%, $background-color 35%);
}
.benefits__wrapper {
  display: grid;
  grid-auto-rows: minmax(auto, auto);
  background: $background-color;
  box-shadow: -5px 8px 26px rgba(0, 0, 0, 0.04);
}
.benefits__wrapper-item-text {
  font-weight: 700;
  font-size: $main-font-size;
  line-height: 1.43;
  letter-spacing: 0.08em;
  color: #111518;
}
.benefits__wrapper-item {
  counter-increment: number;
  &:before {
      content: "— " counter(number, decimal-leading-zero);
      font-weight: 700;
      font-size: 20px;
      line-height: 1.2;
      letter-spacing: 0.08em;
      color: $secondary-color;
  }  
}
@media screen and (max-width: 767.98px) {
  .benefits {
      padding-top: 40px;
  }
  .benefits__title {
      max-width: 70%;
      font-weight: 800;
      font-size: 20px;
      line-height: 1.35;
      letter-spacing: 0.03em;
      color: #FFFFFF;
      margin-bottom: 32px;
  } 
  .benefits__wrapper {
      padding-left: 20px;
      padding-right: 24px;
      padding-top: 20px;
      padding-bottom: 20px;
  }
  .benefits__wrapper-item:not(:last-child) {
      margin-bottom: 40px;
  }
  
}
@media screen and (min-width: 768px) {
  .benefits__title {
      max-width: 100%;
      text-align: center;
      margin-bottom: 40px;
      font-weight: 800;
      font-size: 26px;
      line-height: 1.31;
      text-align: center;
      letter-spacing: 0.03em;
      color: #FFFFFF
     
  }
  .benefits {
    background-image: linear-gradient(to bottom, $tittle-color 50%, $background-color 50%);
    padding-top: 80px;
  }
  .benefits__wrapper {
      padding: 40px 92px;
      grid-template-columns: repeat(2, 1fr);
      
      grid-row-gap: 44px;
      grid-column-gap: 32px;
  }
}
@media screen and (min-width: 1680px) {
  .benefits {
      background-image: linear-gradient(to bottom, $tittle-color 52%, $background-color 47%);
      position: relative;
      margin-top: -190px;
  }
  .benefits__title {
      display: none;
  }
  .benefits {
      padding-top: 0;
  }
  .benefits__wrapper-item-text {
      font-weight: 700;
      font-size: 20px;
      line-height: 1.2;
      margin-top: 8px;
  }
  .benefits__wrapper {
      padding-top: 60px;
      padding-bottom: 60px;
      padding-left: 140px;
      padding-right: 32px;
      grid-template-columns: repeat(3, 356px);
      grid-column-gap: 204px;
      grid-row-gap: 72px;
  }
}
