.contacts{
    min-width: 320px;

    margin-left: auto;
    margin-right: auto;

    padding-top: 40px;
    padding-bottom: 40px;

    background-size: cover;
    background-repeat: no-repeat;
    background-color: #111518;
}
.contacts__container {
    color: $background-color;
}

.contacts__text {
    font-weight: 800;
    line-height: 1.3;
    letter-spacing: 0.03em;
    text-align: center;
}

.contacts__description-wrapper {
    text-align: center;
    font-weight: 600;
    letter-spacing: 0.08em;
}

.contacts__text-accent {
    color: $secondary-color;
}

.contacts-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contact-form__input {
    padding-left: 24px;
    background: transparent;
    border: 1px solid #FFFFFF;
    color: $background-color;

    &:first-child {
        margin-bottom: 20px;
    }

    &::placeholder {
        color: $background-color;
        font-size: 14px;
        line-height: 1.21;
    }

    &:invalid {
        border: 1px solid red;
    }
}

@media screen and (max-width: 767px) {
    .contacts {
        // width: 480px;

        background-image: url(../images/form-bg_mob.png);
    }
        @media (min-device-pixel-ratio: 2),
        (-webkit-min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx){
            .contacts{
                background-image: url(../images/form-bg@2x_mob.png);
            }
        }
    
    .contacts__container{
        padding-left: 20px;
        padding-right: 20px;
    }

    .contacts__text {
        margin-bottom: 24px;

        font-size: 14px;
    }

    .contacts__description-wrapper {
        margin-bottom: 40px;

        font-size: 12px;
        line-height: 1.25;
    }

    .contact-form__input {
        width: 280px;
        height: 48px;
    }
    .contacts__button {
        @include button (280px, 48px, $secondary-color, $background-color);
        margin-top: 40px;
    }
}

@media screen and (min-width: 768px) {
    .contacts {
        // width: 768px;
    }

    .contacts__text {
        margin-bottom: 40px;
    }
    .contact-form__input{
        padding-left: 24px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1679px) {
    .contacts {
        // width: 768px;

        background-image: url(../images/form-bg_tablet.png);
    }
        @media (min-device-pixel-ratio: 2),
        (-webkit-min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            .contacts {
                background-image: url(../images/form-bg@2x_tablet.png);
            }
        }

    .contacts__container {
        padding-left: 40px;
        padding-right: 40px;
    }

    .contacts__text {
        font-size: 26px;
    }

    .contacts__description-wrapper {
        margin-bottom: 24px;
        font-size: 14px;
        line-height: 1.21;
    }

    .contact-form__input {
        width: 336px;
        height: 48px;
        padding-left: 28px;
    }

    .contacts__button {
        width: 336px;
        margin-top: 32px;
    }
    .contacts__button {
        @include button (335px, 48px, $secondary-color, $background-color);
        margin-top: 32px;
    }
}

@media screen and (min-width: 1680px) {
    .contacts {
        // width: 1680px;

        padding-top: 80px;
        padding-bottom: 80px;

        background-image: url(../images/form-bg_desktop.png);
    }
        @media (min-device-pixel-ratio: 2),
        (-webkit-min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            .contacts {
                background-image: url(../images/form-bg@2x_desktop.png);
            }
        }

    .contacts__container {
        padding-left: 295px;
        padding-right: 295px;
    }

    .contacts__text {
        font-size: 46px;
    }

    .contacts__description-wrapper {
        margin-bottom: 60px;
        font-size: 30px;
        line-height: 1.23;
    }

    .contact-form__input {
        width: 528px;
        height: 70px;

        &:not(:last-child) {
            margin-bottom: 32px;
        }

        &::placeholder {
            font-size: 20px;
            line-height: 1.2;
        }
    }
    .contacts__button{
        width: 528px;
        height: 70px;
    }
    .contacts__button {
        @include button (528px, 70px, $secondary-color, $background-color);
        margin-top: 40px;
        font-size: 14px;
    }
}