.footer{
    background-image: linear-gradient(to bottom, $background-color 72.2%, $tittle-color 27.8%)
}
.footer-contact{
    padding-top: 40px;
    padding-bottom: 40px;
}

.footer-logo{
    display: flex;
    justify-content: center;

    margin-bottom: 20px;
}

.footer-logo__img{
    width: 80px;
    height: 29px;
}

.footer-contact-list{
    @extend %ul;
    text-align: center;
}

.footer-contact-list__item{
    margin-bottom: 20px;
        &:last-child{
            margin-bottom: 0;
        }
}

.footer-contact-list__number{
    display: inline-flex;
    align-items: center;

    text-decoration: none;
    color: $tittle-color;
    font-weight: 600;
    font-size: 14px;
    line-height: 1.21;
    letter-spacing: 0.08em;
}
.footer-contact-list__number--img{
    margin-right: 8px;
}

.footer-contact-list__item--link{
    display: inline-block;
}

.footer-copyright{
    padding-top: 24px;
    padding-bottom: 24px;
    text-align: center;
}

.footer-copyright__text{
    font-weight: 500;
    font-size: 14px;
    line-height: 2;
    color: $primary-color;
}