a {
  text-decoration: none;
}

.header {
  position: fixed;
  top: 0;
  height: auto;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 5px;

  background-color: $background-color;
  z-index: 90;

  @media screen and (min-width: 768px) {
    padding-top: 40px;
  }
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: block;
}

.logo__icon {
  @media screen and (min-width: 768px) {
    width: 128px;
    height: 45px;
  }
}

.main-nav {
  display: none;

  @media screen and (min-width: 1680px) {
    display: block;
    margin-left: auto;
  }
}

.main-nav__list {
  @extend %ul;
  display: flex;
}

.main-nav__item {
  margin-right: 40px;
}

.main-nav__link {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.2;
  text-align: center;
  text-transform: uppercase;

  color: $primary-color;
  transition: color 250ms ease-in;

  &:hover,
  &:focus {
    color: $secondary-color;
  }
}

.main-nav__btn {
  display: none;

  @media screen and (min-width: 768px) {
    display: block;
    padding: 0;
    @include button(260px, 48px, transparent, $secondary-color);

    border: 2px solid $secondary-color;
    font-size: 14px;
    text-align: center;
    letter-spacing: 0.14em;
    margin-right: 40px;
    margin-left: auto;
  }

  @media screen and (min-width: 1680px) {
    width: 336px;
    height: 70px;
    margin: 0;
  }
}

.header__btn {
  margin-right: 2px;
  padding: 0;
  line-height: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: stroke 250ms ease-in;

  &:hover>.header__icon-burger,
  &:focus>.header__icon-burger {
    stroke: $secondary-color;
  }

  @media screen and (min-width: 1680px) {
    display: none;
  }
}

.header__icon-burger {
  stroke: #000000;
}