a {
    text-decoration: none;
}

.header {
    position: fixed;
    top: 0;
    height: auto;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 5px;

    background-color: $background-color;
    z-index: 90;

    @media screen and (min-width: 768px) {
        padding-top: 40px;
    }
}

.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: block;
}

.logo__icon {
    @media screen and (min-width: 768px) {
        width: 128px;
        height: 45px;
    }
}

.main-nav {
    display: none;

    @media screen and (min-width: 1680px) {
        display: block;
        margin-left: auto;
    }
}

.main-nav__list {
    @extend %ul;
    display: flex;
}

.main-nav__item {
    margin-right: 40px;
}

.main-nav__link {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.2;
    text-align: center;
    text-transform: uppercase;

    color: $primary-color;
    transition: color 250ms ease-in;

    &:hover,
    &:focus {
        color: $secondary-color;
    }
}

.main-nav__btn {
    display: none;

    @media screen and (min-width: 768px) {
        display: block;
        padding: 0;
        @include button (260px, 48px, transparent, $secondary-color);

        border: 2px solid $secondary-color;
        font-size: 14px;
        text-align: center;
        letter-spacing: 0.14em;
        margin-right: 40px;
        margin-left: auto;
    }

    @media screen and (min-width: 1680px) {
        width: 336px;
        height: 70px;
        margin: 0;
    }
}

.header__btn {
    margin-right: 2px;
    padding: 0;
    line-height: 0;
    background-color: transparent;
    border: none;
    cursor: pointer;
    transition: stroke 250ms ease-in;

    &:hover>.header__icon-burger,
    &:focus>.header__icon-burger {
        stroke: $secondary-color;
    }

    @media screen and (min-width: 1680px) {
        display: none;
    }
}

.header__icon-burger {
    stroke: #000000;
}

.menu-open {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;

    background-color: rgba(17, 21, 24, 0.9);
    z-index: 200;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 250ms ease-in;

    &.is-open {
        opacity: 1;
        visibility: visible;
        pointer-events: auto;
    }
}

.menu-open__head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 40px;
    padding-top: 20px;

    @media screen and (min-width: 768px) {
        margin-bottom: 80px;
        padding-top: 40px;
    }
}


.menu-open__logo-icon {
    @media screen and (min-width: 768px) {
        width: 128px;
        height: 45px;
    }

}

.menu-open__list {
    @extend %ul;
    margin-bottom: 46px;

    @media screen and (min-width: 768px) {
        width: 332px;
        margin: 0 auto;
    }

}

.menu-open__item {
    display: block;
}

.menu-open__link {
    display: block;
    font-weight: 800;
    font-size: 20px;
    line-height: 1.8;
    letter-spacing: 0.03em;

    color: #FFFFFF;
    transition: color 250ms ease-in;

    &:hover,
    &:focus {
        color: $secondary-color;
    }

    @media screen and (min-width: 768px) {
        font-size: 26px;
    }
}

.menu-open__btn {
    line-height: 0;
    background: transparent;
    border: none;
    cursor: pointer;
    transition: stroke 250ms ease-in;

    &:hover>.menu-open__icon-close,
    &:focus>.menu-open__icon-close {
        stroke: $secondary-color;
    }
}

.menu-open__icon-close {
    stroke: #FFFFFF;
}

.menu-open__btn-consultation {
    display: inline-block;
    padding: 0;
    @include button (100%, 48px, transparent, $secondary-color);

    border: 2px solid $secondary-color;

    @media screen and (min-width: 480px) {
        width: 280px;
    }

    @media screen and (min-width: 768px) {
        display: none;
    }
}