.hero {
    background-color: $background-color;
    background-image: url(../images/Vector_mob.png);
    background-size: cover;
    background-position: left 0 bottom -70px;
    padding-bottom: 60px;
    padding-top: 88px;

    @media screen and (min-width: 768px) {
        padding-top: 168px;
        background-image: url(../images/Vector_tablet.png);
        background-position: left 20px bottom -30px;
    }

    @media screen and (min-width: 1680px) {
        padding-top: 150px;
        background-image: url(../images/Vector_desktop.png);
        background-position: left 0 bottom 10px;
    }
}

.hero__container {
    @media screen and (min-width: 768px) {
        display: flex;
    }
}

.hero__about {
    @media screen and (min-width: 768px) {
        width: 50%;
    }


}

.hero__title {
    display: inline-block;
    margin-bottom: 8px;

    font-weight: 800;
    font-size: 20px;
    line-height: 1.3;

    letter-spacing: 0.03em;

    color: $tittle-color;

    @media screen and (min-width: 768px) {
        font-size: 26px;
    }

    @media screen and (min-width: 1680px) {
        font-size: 58px;
        width: 560px;
    }
}

.hero__subtitle {
    margin-bottom: 40px;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.6;
    letter-spacing: 0.08em;

    color: $primary-color;

    @media screen and (min-width: 1680px) {
        font-size: 20px;
    }
}

.hero__slogan {
    display: block;
}

.hero__description {
    display: block;
    font-weight: 700;
    color: $tittle-color;

    @media screen and (min-width: 1680px) {
        display: inline-block;
    }
}

.hero__accent {
    display: block;
    font-weight: 700;
    color: $secondary-color;

    @media screen and (min-width: 1680px) {
        color: $tittle-color;
        display: inline-block;
    }
}

.main-btn {
    @include button (280px, 48px, $secondary-color, $background-color);
    margin-bottom: 50px;
    margin-right: auto;
    margin-left: auto;
    padding: 0;
    display: block;

    @media screen and (min-width: 768px) {
        margin: 0 0;
        @include button (260px, 48px, $secondary-color, $background-color);
    }

    @media screen and (min-width: 1680px) {
        @include button (354px, 70px, $secondary-color, $background-color);
    }
}

.hero__images {
    position: relative;
    width: 178px;
    height: 178px;
    margin-left: auto;
    margin-right: auto;

    @media screen and (min-width: 768px) {
        width: 320px;
        height: 320px;
    }

    @media screen and (min-width: 1680px) {
        width: 720px;
        height: 720px;
    }

}

.hero__images-before {
    position: absolute;
    top: 10px;
    left: -20px;
    width: 208px;
    height: 150px;

    @media screen and (min-width: 768px) {
        width: 375px;
        height: 270px;
        top: 17px;
        left: -36px;
    }

    @media screen and (min-width: 1680px) {
        width: 840px;
        height: 600px;
        top: 38px;
        left: -80px;
    }
}