.hero {
    background-color: $background-color;
    background-image: url(../images/Vector_mob.png);
    background-size: cover;
    background-position: left 0 bottom -70px;
    padding-bottom: 60px;
}

.hero__title {
    display: block;
    margin-bottom: 8px;
    margin-top: 88px;
    font-weight: 800;
    font-size: 20px;
    line-height: 1.3;

    letter-spacing: 0.03em;

    color: $tittle-color;
}

.hero__subtitle {
    display: block;
    margin-bottom: 40px;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.6;
    letter-spacing: 0.08em;

    color: $primary-color;
}

.hero__description {
    display: block;
    font-weight: 700;
    color: $tittle-color;
}

.hero__accent {
    display: block;
    font-weight: 700;
    color: $secondary-color;
}

.main-btn {
    @include button (280px, 48px, $secondary-color, $background-color);
    margin-bottom: 50px;
    margin-right: auto;
    margin-left: auto;
    padding: 0;
    display: block;
}

.hero__images {
    position: relative;
    width: 208px;
    height: 150px;
    margin-left: auto;
    margin-right: auto;
}

.hero__images-after {
    position: absolute;
    width: 178px;
    height: 178px;
    top: -10px;
    left: 20px;
}