.program {
    // position: relative;
    background-color: $tittle-color;
    padding-top: 62px;
    padding-bottom: 105px;
    padding-left: 0;
    // display: flex;
    // flex-direction: column;
    // align-items: center;

    margin-left: auto;
    margin-right: auto;

    @media screen and (min-width: 480px) {
        width: 480px;
    }

    @media screen and (min-width: 768px) {
        width: 768px;
    }

    @media screen and (min-width: 1680px) {
        width: 1680px;
    }
    
    &-container {
        display: flex;
            flex-direction: column;
            align-items: center;
    }
    &-item:nth-child(-n + 4) {
        margin-bottom: 40px;
    }
    &-sublist {
        padding-left: 26px;
    }
    &-title {
        color: $background-color;
        font-weight: 800;
        font-size: 20px;
        line-height: 130%;
        text-align: center;
        letter-spacing: 0.03em;
        margin-bottom: 40px;
    }
    
    &-subtitle {
        position: relative;
        display: inline-flex;
        align-items: center;
        color: $background-color;
        font-weight: 700;
        font-size: 14px;
        line-height: 200%;
        letter-spacing: 0.08em;
        text-transform: uppercase;
        padding-left: 26px;
        margin-bottom: 10px;
        
        &::before {
            content: "";
            width: 12px;
            height: 12px;
            background-size: contain;
        }
        &::before {
            position: absolute;
            left: -6.5px;
            margin-right: 20px;
            background-image: url(../svg/Ellipse.svg);
            z-index: 2;
        }
    }

    &-subject {
        color: $secondary-color;
        font-weight: 700;
        font-size: 12px;
        line-height: 165%;
        letter-spacing: 0.08em;
        margin-bottom: 10px;
    }

    &-text {
        color: $primary-color;
        opacity: 0.5;
        font-weight: 500;
        font-size: 12px;
        line-height: 167%;
        letter-spacing: 0.08em;
    }
    &-clause:not(:last-child) {
        margin-bottom: 10px;
    }
    &-photo {
        display: block;
        position: absolute;
        bottom: 0;
        right: 0;
    }

    &-list {
        position: relative;
        width: 202px;
    }
    &-line {
        position: absolute;
        top: 10px;
        left: -1px;
        height: 1240px;
        width: 10px;
        border-left: 1px solid $background-color;
    }
}

@media screen and (min-width: 768px) {
    .program {
        padding-top: 60px;
        padding-bottom: 100px;
        

        &-container {
            align-items: start;
        }
        &-list {
            margin-left: 71px;
        }
        &-sublist {
            display: flex;
        }
        &-title {
            font-size: 26px;
        }
        &-subtitle {
            padding-left: 113px;
        }
        &-sublist {
            padding-left: 113px;
        }
        &-line {
            height: 750px;
        }
        &-clause {
            width: 152px;
        }
        &-clause:not(:last-child) {
            margin-bottom: 0px;
            margin-right: 32px;
        }&-text {
            width: 152px;
        }
    }
}

@media screen and (min-width: 1680px) {
    .program {
        padding-top: 80px;
        padding-bottom: 436px;
        
        &-title {
            font-size: 46px;
            margin-bottom: 136px;
        }
        &-sublist {
            display:contents;
        } 
        &-subtitle {
            display: flex;
            padding-left: 0;
            font-size: 20px;
            line-height: 140%;
            align-items: flex-start;
            margin-bottom: 24px;
            align-items: baseline;
            &::before {
                width: 14px;
                height: 14px;
            }
            &::before {
                position: absolute;
                left: 0px;
                top: -48px;
                background-image: url(../svg/Ellipse.svg);
                z-index: 2;
            }
        }
        &-first-letter {
            font-size: 30px;
            line-height: 93%;
            margin-right: 0;
        }
        &-photo {
            bottom: 70px;
            left: 0;
        }
        &-list {
            display: flex;
            margin-left: 140px;
        }
        &-line {
            top: -42px;
            left: -156px;
            height: 1px;
            width: 1680px;
            border-top: 1px solid $background-color;
        }
        &-clause {
            width: 240px;
        }
        &-clause:not(:last-child) {
            margin-right: 0;
            margin-bottom: 24px;
        }
        &-subject {
            font-size: 20px;
        }
        &-text {
            width: 240px;
            font-size: 18px;
            line-height: 156%; 
        }
        &-item:nth-child(-n + 4) {
            margin-bottom: 0px;
            margin-right: 40px;
        }
    }
}