<section class="about conteiner" id="About">
  <h2 class="about__title">Teacher</h2>

  <div class="about__box">
    <picture class="about__picture"
      ><source
        srcset="./images/teacher_desktop.webp 1x, ./images/teacher_desktop@2x.webp 2x"
        media="(min-width: 1200px)"
        type="image/webp" />
      <source
        srcset="./images/teacher_desktop.jpg 1x, ./images/teacher_desktop@2x.jpg 2x"
        media="(min-width: 1200px)" />
      <source
        srcset="./images/teacher_tablet.webp 1x, ./images/teacher@2x_tablet.webp 2x"
        media="(min-width: 768px)"
        type="image/webp" />
      <source
        srcset="./images/teacher_tablet.jpg 1x, ./images/teacher@2x_tablet.jpg 2x"
        media="(min-width: 768px)" />
      <source
        srcset="./images/teacher_mob.webp 1x, ./images/teacher@2x_mob.webp 2x"
        media="(max-width: 767px)"
        type="image/webp" />
      <source
        srcset="./images/teacher_mob.jpg 1x, ./images/teacher@2x_mob.jpg 2x"
        media="(max-width: 767px)" />
      <img src="./images/teacher_mob.jpg"
    /></picture>

    <div class="about__description">
      <h3 class="about__name">Elena Morozova</h3>
      <ul class="about__list">
        <li class="about__item">
          <img class="about__icon" src="./svg/check.svg" alt="check" />
          <p>6 yeards of experience in preparing students for UPE</p>
        </li>
        <li class="about__item">
          <img class="about__icon" src="./svg/check.svg" alt="check" />
          <p>Own result of passing VNO - 197 points 2 years in a row</p>
        </li>
        <li class="about__item">
          <img class="about__icon" src="./svg/check.svg" alt="check" />
          <p>
            Passed excellent at the international analogue of UPE - Cambridge PET (Preliminary
            English Test)
          </p>
        </li>
      </ul>
      <p class="about__line">—</p>
      <p class="about__text">
        Graduated from the Institute of International Relations of the NAU with a degree in
        translator-analyst.In spare time takes courses from the best universities in the world on
        effective teaching and essay writing techniques.Completed: English Grammar and Essay Writing
        (Berkeley), English Grammar & Style (The University of Queesland), How to Write an Essay
        (Berkeley), Academic and Business Writing (Berkeley), The Art of Teaching (GEMS education),
        Powerful Tools for Teaching and Learning (University of Houston).
      </p>
      <a href="#" class="about__certificate">Cambrige English Entry Level Certificate</a>
    </div>
  </div>
</section>
