<div class="backdrop" data-modal>
  <div class="modal">
    <button type="button" class="modal-close-btn" data-modal-close>
      <svg class="modal-close-icon" width="18" height="18">
        <use href="./svg/backdrop-icons.svg#close-icon"></use>
      </svg>
    </button>

    <form class="contact-form">
      <p class="form-description">Оставьте свои данные, мы вам перезвоним</p>

      <label class="contact-form-field">
        <span class="label-description">Имя</span>
        <span class="contact-form-input-wrapper">
          <input name="user_name" type="text" class="contact-form-input" />
          <svg class="contact-form-icon" width="18" height="18">
            <use href="./svg/backdrop-icons.svg#person"></use>
          </svg>
        </span>
      </label>

      <label class="contact-form-field"
        ><span class="label-description">Телефон</span>
        <span class="contact-form-input-wrapper">
          <input name="user_phone" type="tel" class="contact-form-input" />
          <svg class="contact-form-icon" width="18" height="18">
            <use href="./svg/backdrop-icons.svg#phone"></use>
          </svg>
        </span>
      </label>

      <label class="contact-form-field"
        ><span class="label-description">Почта</span>
        <span class="contact-form-input-wrapper">
          <input name="user_email" type="email" class="contact-form-input" />
          <svg class="contact-form-icon" width="18" height="18">
            <use href="./svg/backdrop-icons.svg#email"></use>
          </svg>
        </span>
      </label>

      <label class="contact-form-field"
        ><span class="label-description">Комментарий</span>
        <textarea
          name="user_message"
          class="contact-form-message"
          placeholder="Введите текст"
        ></textarea>
      </label>

      <button type="submit" class="contact-form-submit-btn">Отправить</button>
    </form>
  </div>
</div>
