<section class="benefits">
    <div class="container">
        <h2 class="benefits__title"> Why do people choose us </h2>
            <div class="benefits__wrapper">
              <div class="benefits__wrapper-item">
                  <p class="benefits__wrapper-item-text">Training in small groups</p>
                </div>
                <div class="benefits__wrapper-item">
                    <p class="benefits__wrapper-item-text">Rendered notes</p>
                  </div>
                  <div class="benefits__wrapper-item">
                    <p class="benefits__wrapper-item-text">Each lesson has a goal and a specific result</p>
                  </div>
                  <div class="benefits__wrapper-item">
                    <p class="benefits__wrapper-item-text">The real results of the teacher</p>
                  </div>
                  <div class="benefits__wrapper-item">
                    <p class="benefits__wrapper-item-text">The course program meets the requirements of the MES of Ukraine</p>
                  </div>
                  <div class="benefits__wrapper-item">
                    <p class="benefits__wrapper-item-text">Set of groups by level of knowledge</p>
                  </div>
        </div>
    </div>
</section>
