<section class="contacts" id="Contacts">
    <div class="container contacts__container">
        <h2 id="Form" class="visually-hidden">Contacts</h2>
        <p class="contacts__text">Registration for a <span class="contacts__text-accent">free</span>
            phone <span class="contacts__text-accent">consultation</span> on the nuances of English UPE</p>
        <div class="contacts__description-wrapper">
            <p class="contacts__description">Leave a request for participation in a <span class="contacts__text-accent">free
                    lesson</span>.</p>
            <p class="contacts__description">A consultant will contact you and answer your questions</p>
        </div>
        <form class="contacts-form">
            <input class="contact-form__input" name="user_name" type="text" placeholder="Name*" pattern="^[a-zA-Z]+\s[a-zA-Z]+$"
                title="Username must be two words separated by space." />
            <input class="contact-form__input" name="user_phone" type="tel" placeholder="Phone*"
                pattern="[0-9]{3}-[0-9]{3}-[0-9]{2}-[0-9]{2}" title="xxx-xxx-xx-xx" />
            <button class="button contacts__button" type="submit">i want a free lesson</button>
        </form>
    </div>
</section>