<footer class="footer container">
  <div class="footer-contact">
    <a class="footer-logo" href="#">
      <img class="footer-logo__img" src="/svg/logo.svg" alt="logo">
    </a>
    <ul class="footer-contact-list">
      <li class="footer-contact-list__item">
        <a class="footer-contact-list__number" href="tell:+380000000000">
          <img class="footer-contact-list__number--img" src="/svg/tell.svg" alt="phone number">
          +38 (000) 000 00 00
        </a>
      </li>
      <li class="footer-contact-list__item">
        <a class="footer-contact-list__item--link" href="#" target="_blank">
          <img src="/svg/instagram.svg" alt="our instagram">
        </a>
      </li>
    </ul>
  </div>

    <div class="footer-copyright">
        <p class="footer-copyright__text">@ All rights reserved, 2019</p>
    </div>
</footer>