<header class="header">
  <div class="container header__container">
    <a href="#hero" class="logo">
      <svg class="logo__icon" width="80" height="29">
        <use href="./svg/symbol-defs_how_we_do.svg#icon-logo"></use>
      </svg>
    </a>
    <nav class="main-nav">
      <ul class="main-nav__list">
        <li class="main-nav__item">
          <a href="#Program" class="main-nav__link">Studying program</a>
        </li>
        <li class="main-nav__item">
          <a href="#About" class="main-nav__link">About</a>
        </li>
        <li class="main-nav__item">
          <a href="#Training" class="main-nav__link">Training options</a>
        </li>
        <li class="main-nav__item">
          <a href="#Contacts" class="main-nav__link">Contacts</a>
        </li>
      </ul>
    </nav>
    <button type="button" class="main-nav__btn modal-btn" data-modal-open>
      Consultation by phone
    </button>
    <button type="button" class="header__btn" data-menu-open aria-expanded="false">
      <svg class="header__icon-burger" width="21" height="12" aria-label="Перемикач мобільного меню">
        <use href="./svg/symbol-defs_how_we_do.svg#icon-burger"></use>
      </svg>
    </button>
  </div>
</header>