<section class="hero">
    <div class="container hero__container">
        <div class="hero__about">
            <h1 id="hero" class="hero__title">Complex preparation for English UPE</h1>
            <p class="hero__subtitle">
                <span class="hero__slogan">It won’t be easy.</span>
                <span class="hero__description">But you’re guaranteed to get</span> <span class="hero__accent">&#43;25
                    points</span>
            </p>
            <button type="button" class="main-btn" href="#Contacts">I want a free lesson</button>
        </div>
        <div class="hero__images">
            <picture class="hero__images-before">
                <source srcset="./images/ellipse1_desktop.png 1x, ./images/ellipse1@2x_desktop.png 2x"
                    media="(min-width: 1680px)">
                <source srcset="./images/ellipse1_tablet.png 1x, ./images/ellipse1@2x_tablet.png 2x"
                    media="(min-width: 768px)">
                <source srcset="./images/ellipse1_mob.png 1x, ./images/ellipse1@2x_mob.png 2x"
                    media="(max-width: 767px)">
                <img src="./images/ellipse1_mob.png" alt="people work on the table">
            </picture>
            <picture class="hero__images-after">
                <source srcset="./images/ellipse2_desktop.png 1x, ./images/ellipse2@2x_desctop.png 2x"
                    media="(min-width: 1680px)">
                <source srcset="./images/ellipse2_tablet.png 1x, ./images/ellipse2@2x_tablet.png 2x"
                    media="(min-width: 768px)">
                <source srcset="./images/ellipse2_mob.png 1x, ./images/ellipse2@2x_mob.png 2x"
                    media="(max-width: 767px)">
                <img src="./images/ellipse2_mob.png" alt="people work on the table">
            </picture>
        </div>
    </div>
</section>