<div class="menu-open" data-menu>
    <div class="container">
        <div class="menu-open__head">
            <a href="#hero" class="menu-open__logo">
                <svg class="menu-open__logo-icon" width="80" height="29">
                    <use href="./svg/symbol-defs_how_we_do.svg#icon-logo-menu"></use>
                </svg>
            </a>
            <button type="button" class="menu-open__btn" aria-expanded="true" data-menu-close>
                <svg class="menu-open__icon-close" width="16" height="16" aria-label="Перемикач мобільного меню">
                    <use href="./svg/symbol-defs_how_we_do.svg#icon-close"></use>
                </svg>
            </button>
        </div>
        <nav class="menu-open__nav">
            <ul class="menu-open__list">
                <li class="menu-open__item">
                    <a href="#Program" class="menu-open__link">Studying program</a>
                </li>
                <li class="menu-open__item">
                    <a href="#About" class="menu-open__link">About</a>
                </li>
                <li class="menu-open__item">
                    <a href="#Training" class="menu-open__link">Training options</a>
                </li>
                <li class="menu-open__item">
                    <a href="#Contacts" class="menu-open__link">Contacts</a>
                </li>
            </ul>
        </nav>
        <button type="button" class="menu-open__btn-consultation modal-btn" data-modal-open>
            Consultation by phone
        </button>
    </div>
</div>