<section class=“problems”>
    <div class=“container problems__container”>
        <h2 class=“problems__title”> The main problems of students
            in English UPE, which
            we <span class=“problems__title-element”>help</span> to solve </h2>
            <div class=“problems__wrapper”>
                <div class=“problems__item”>
                    <p class=“problems__item-text” >Grammar</p>
                </div>
                <div class=“problems__item”>
                    <p class=“problems__item-text” >Inability to understand
                        spoken English</p>
                </div>
                <div class=“problems__item”>
                    <p class=“problems__item-text” >Stingy vocabulary for writing an essay</p>
                </div>
                <div class=“problems__item”>
                    <p class=“problems__item-text” >Preparing alone</p>
                </div>
                <div class=“problems__item”>
                    <p class=“problems__item-text” >Lack of a single knowledge resource</p>
                </div>
                <div class=“problems__item”>
                    <p class=“problems__item-text” >Lack of self-organization and laziness</p>
                </div>
        </div>
    </div>
</section>