<section id="Program" class="program">
    <div class="container  program-container">
        <h2 class="program-title">Our program</h2>
        <ul class="program-list">
            <li class="program-item">
                <h3 class="program-subtitle"><span class="program-first-letter">1&nbsp;</span>semester</h3>
                <ul class="program-sublist">
                    <li class="program-clause">
                        <h4 class="program-subject">— Grammar</h4>
                        <ul class="program-items">
                            <li class="program-article">
                                <p class="program-text">Nouns & Articles</p>
                            </li>
                            <li class="program-article">
                                <p class="program-text">Adjectives & Adverb</p>
                            </li>
                        </ul>
                    </li>
                    <li class="program-clause">
                        <h4 class="program-subject">— Vocabulary</h4>
                        <ul class="program-items">
                            <li class="program-article">
                                <p class="program-text">Family & Relations</p>
                            </li>
                            <li class="program-article">
                                <p class="program-text">People & Society</p>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li class="program-item">
                <h3 class="program-subtitle"><span class="program-first-letter">2&nbsp;</span> semester</h3>
                <ul class="program-sublist">
                    <li class="program-clause">
                        <h4 class="program-subject">— Grammar</h4>
                        <ul class="program-items">
                            <li class="program-article">
                                <p class="program-text">Pronouns</p>
                            </li>
                            <li class="program-article">
                                <p class="program-text">Active Voice</p>
                            </li>
                            <li class="program-article">
                                <p class="program-text">Passive Voice</p>
                            </li>
                        </ul>
                    </li>
                    <li class="program-clause">
                        <h4 class="program-subject">— Vocabulary</h4>
                        <ul class="program-items">
                            <li class="program-article">
                                <p class="program-text">Home</p>
                            </li>
                            <li class="program-article">
                                <p class="program-text">School</p>
                            </li>
                            <li class="program-article">
                                <p class="program-text">Work</p>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li class="program-item">
                <h3 class="program-subtitle"><span class="program-first-letter">3&nbsp;</span> semester</h3>
                <ul class="program-sublist">
                    <li class="program-clause">
                        <h4 class="program-subject">— Grammar</h4>
                        <ul class="program-items">
                            <li class="program-article">
                                <p class="program-text">Modal verbs</p>
                            </li>
                            <li class="program-article">
                                <p class="program-text">Infinitive</p>
                            </li>
                            <li class="program-article">
                                <p class="program-text">Gerund</p>
                            </li>
                            <li class="program-article">
                                <p class="program-text">Participle: 1, 2</p>
                            </li>
                        </ul>
                    </li>
                    <li class="program-clause">
                        <h4 class="program-subject">— Vocabulary</h4>
                        <ul class="program-items">
                            <li class="program-article">
                                <p class="program-text">Travel & Tourism</p>
                            </li>
                            <li class="program-article">
                                <p class="program-text"> Culture & Free Time</p>
                            </li>
                            <li class="program-article">
                                <p class="program-text">Sport</p>
                            </li>
                        </ul>
                    </li>
                    <li class="program-clause">
                        <h4 class="program-subject">— Writing</h4>
                        <ul class="program-items">
                            <li class="program-article">
                                <p class="program-text">Informal Letter</p>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li class="program-item">
                <h3 class="program-subtitle"><span class="program-first-letter">4&nbsp;</span> semester</h3>
                <ul class="program-sublist">
                    <li class="program-clause">
                        <h4 class="program-subject">— Grammar</h4>
                        <ul class="program-items">
                            <li class="program-article">
                                <p class="program-text">Clauses: Conditional and Wishes</p>
                            </li>
                            <li class="program-article">
                                <p class="program-text">Direct / Reported speech</p>
                            </li>
                            <li class="program-article">
                                <p class="program-text">Preposition</p>
                            </li>
                            <li class="program-article">
                                <p class="program-text">Conjunction</p>
                            </li>
                            <li class="program-article">
                                <p class="program-text">Numeral</p>
                            </li>
                        </ul>
                    </li>
                    <li class="program-clause">
                        <h4 class="program-subject">— Vocabulary</h4>
                        <ul class="program-items">
                            <li class="program-article">
                                <p class="program-text">Healthy Living</p>
                            </li>
                            <li class="program-article">
                                <p class="program-text">Nature & Environment</p>
                            </li>
                            <li class="program-article">
                                <p class="program-text">Money</p>
                            </li>
                        </ul>
                    </li>
                    <li class="program-clause">
                        <h4 class="program-subject">— Writing</h4>
                        <ul class="program-items">
                            <li class="program-article">
                                <p class="program-text">Formal Letter</p>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li class="program-item">
                <h3 class="program-subtitle"><span class="program-first-letter">5&nbsp;</span> semester</h3>
                <ul class="program-sublist">
                    <li class="program-clause">
                        <h4 class="program-subject">—</h4>
                        <ul class="program-items">
                            <li class="program-article">
                                <p class="program-text">Revision</p>
                            </li>
                            <li class="program-article">
                                <p class="program-text">Tests</p>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li>
                <div class="program-line"></div>
            </li>
        </ul>
        <picture>
            <source srcset="./images/main-pic_desktop.png 1x, ./images/main-pic@2x_desktop.png 2x"
                media="(min-width: 1680px)" />

            <source srcset="./images/main-pic_tablet.png 1x, ./images/main-pic@2x_tablet.png 2x"
                media="(min-width: 768px)" />

            <source srcset="./images/main-pic_mob.png 1x, ./images/main-pic@2x_mob.png 2x"
                media="(max-width: 767px)" />
            <img  src="./images/main-pic_desktop.png" alt="Photo of teacher with students" class="program-photo"/>
        </picture>
    </div>
</section>