<section class="review">
    <div class="container">
       <div class="wrapper">
           <h2 class="review-header">Feedback from graduates</h2>
	<input class="review-input" type="radio" name="point" id="slide1" checked>
	<input  class="review-input" type="radio" name="point" id="slide2">
	<input  class="review-input" type="radio" name="point" id="slide3">
	<input  class="review-input" type="radio" name="point" id="slide4">
	<input  class="review-input" type="radio" name="point" id="slide5">
    <input  class="review-input" type="radio" name="point" id="slide6">
    <input  class="review-input" type="radio" name="point" id="slide7">

   
	<div class="slider">
		<div class="slides slide1">
            <picture>
                      <source 
                        srcset="./images/student7.png 1x, ./images/student7@2x.png 2x"
                        media="(min-width: 1200px)">

                        <source 
                        srcset="./images/student7.png 1x, ./images/student7@2x.png 2x"
                        media="(min-width: 768px)">

                        <source 
                        srcset="./images/student7.png 1x, ./images/student7@2x.png 2x"
                        media="(max-width: 767px)">

                        <img src="./images/student7.png" alt="Tonya" class="slides-p__img" width="150" height="150">
                    </picture>
           
                 <a href="https://vk.com" aria-label="Vk"><img src="./svg/vk.svg" alt="Vk-icon" class="slides-p__vk"></a>
                <h3 class="review-slider__header">Tonya Kucherovskaya</h3>
                 <p class="review-slider__p">Graduated from 2015, 
        National University of Bioresources and natural history of Ukraine</p>
                 <p class="review-slider__p2">In a short time with Elena, I mastered grammar and replenished my completely empty vocabulary. From the first lesson I realized that I was on my plate. Elena and I became friends because she was really worried about my success. She became an authority for me, but I did not tremble in class, fearing to make the slightest mistake. Now I can brag that I'm student ...</p>
                 <a href="https://vk.com" >
                     <p class="read-more">Read more</p>
                 </a>
        </div>
        
		<div class="slides slide2">
            <picture>
                      <source 
                        srcset="./images/student2.png 1x, ./images/student2@2x.png 2x"
                        media="(min-width: 1200px)">

                        <source 
                        srcset="./images/student2.png 1x, ./images/student2@2x.png 2x"
                        media="(min-width: 768px)">

                        <source 
                        srcset="./images/student2.png 1x, ./images/student2@2x.png 2x"
                        media="(max-width: 767px)">

                        <img src="./images/student2.png" alt="Tonya" class="slides-p__img" width="150" height="150">
                    </picture>
                 <a href="https://vk.com" aria-label="Vk"><img src="./svg/vk.svg" alt="Vk-icon" class="slides-p__vk"></a>
                
        
                <h3 class="review-slider__header">Elena Kucher</h3>
                 <p class="review-slider__p">Graduated from 2015, 
        National University of Bioresources and natural history of Ukraine</p>
                 <p class="review-slider__p2">In a short time with Elena, I mastered grammar and replenished my completely empty vocabulary. From the first lesson I realized that I was on my plate. Elena and I became friends because she was really worried about my success. She became an authority for me, but I did not tremble in class, fearing to make the slightest mistake. Now I can brag that I'm student ...</p>
                 <a href="https://vk.com" >
                     <p class="read-more">Read more</p>
                 </a>

        </div>
		<div class="slides slide3">
            <picture>
                      <source 
                        srcset="./images/student3.png 1x, ./images/student3@2x.png 2x"
                        media="(min-width: 1200px)">

                        <source 
                        srcset="./images/student3.png 1x, ./images/student3@2x.png 2x"
                        media="(min-width: 768px)">

                        <source 
                        srcset="./images/student3.png 1x, ./images/student3@2x.png 2x"
                        media="(max-width: 767px)">

                        <img src="./images/student3.png" alt="Tonya" class="slides-p__img" width="150" height="150">
                    </picture>
                 <a href="https://vk.com" aria-label="Vk"><img src="./svg/vk.svg" alt="Vk-icon" class="slides-p__vk"></a>
                
    
                <h3 class="review-slider__header">Tonya Kucherovskaya</h3>
                 <p class="review-slider__p">Graduated from 2015, 
        National University of Bioresources and natural history of Ukraine</p>
                 <p class="review-slider__p2">In a short time with Elena, I mastered grammar and replenished my completely empty vocabulary. From the first lesson I realized that I was on my plate. Elena and I became friends because she was really worried about my success. She became an authority for me, but I did not tremble in class, fearing to make the slightest mistake. Now I can brag that I'm student ...</p>
                 <a href="https://vk.com" >
                     <p class="read-more">Read more</p>
                 </a>
        </div>
		<div class="slides slide4">
            <picture>
                      <source 
                        srcset="./images/student4.png 1x, ./images/student4@2x.png 2x"
                        media="(min-width: 1200px)">

                        <source 
                        srcset="./images/student4.png 1x, ./images/student4@2x.png 2x"
                        media="(min-width: 768px)">

                        <source 
                        srcset="./images/student4.png 1x, ./images/student4@2x.png 2x"
                        media="(max-width: 767px)">

                        <img src="./images/student4.png" alt="Tonya" class="slides-p__img" width="150" height="150">
                    </picture>
                 <a href="https://vk.com" aria-label="Vk"><img src="./svg/vk.svg" alt="Vk-icon" class="slides-p__vk"></a>
                
    
                <h3 class="review-slider__header">Tonya Kucherovskaya</h3>
                 <p class="review-slider__p">Graduated from 2015, 
        National University of Bioresources and natural history of Ukraine</p>
                 <p class="review-slider__p2">In a short time with Elena, I mastered grammar and replenished my completely empty vocabulary. From the first lesson I realized that I was on my plate. Elena and I became friends because she was really worried about my success. She became an authority for me, but I did not tremble in class, fearing to make the slightest mistake. Now I can brag that I'm student ...</p>
                 <a href="https://vk.com" >
                     <p class="read-more">Read more</p>
                 </a>
        </div>
		<div class="slides slide5">
            <picture>
                      <source 
                        srcset="./images/student5.png 1x, ./images/student5@2x.png 2x"
                        media="(min-width: 1200px)">

                        <source 
                        srcset="./images/student5.png 1x, ./images/student5@2x.png 2x"
                        media="(min-width: 768px)">

                        <source 
                        srcset="./images/student5.png 1x, ./images/student5@2x.png 2x"
                        media="(max-width: 767px)">

                        <img src="./images/student5.png" alt="Tonya" class="slides-p__img" width="150" height="150">
                    </picture>
                 <a href="https://vk.com" aria-label="Vk"><img src="./svg/vk.svg" alt="Vk-icon" class="slides-p__vk"></a>
                
    
                <h3 class="review-slider__header">Tonya Kucherovskaya</h3>
                 <p class="review-slider__p">Graduated from 2015, 
        National University of Bioresources and natural history of Ukraine</p>
                 <p class="review-slider__p2">In a short time with Elena, I mastered grammar and replenished my completely empty vocabulary. From the first lesson I realized that I was on my plate. Elena and I became friends because she was really worried about my success. She became an authority for me, but I did not tremble in class, fearing to make the slightest mistake. Now I can brag that I'm student ...</p>
                 <a href="https://vk.com" >
                     <p class="read-more">Read more</p>
                 </a>
        </div>
        <div class="slides slide6">
             <picture>
                      <source 
                        srcset="./images/student1.png 1x, ./images/student1@2x.png 2x"
                        media="(min-width: 1200px)">

                        <source 
                        srcset="./images/student1.png 1x, ./images/student1@2x.png 2x"
                        media="(min-width: 768px)">

                        <source 
                        srcset="./images/student1.png 1x, ./images/student1@2x.png 2x"
                        media="(max-width: 767px)">

                        <img src="./images/student1.png" width="150" height="150" alt="Tonya" class="slides-p__img">
                    </picture>
                 <a href="https://vk.com" aria-label="Vk"><img src="./svg/vk.svg" alt="Vk-icon" class="slides-p__vk"></a>
                
    
                <h3 class="review-slider__header">Tonya Kucherovskaya</h3>
                 <p class="review-slider__p">Graduated from 2015, 
        National University of Bioresources and natural history of Ukraine</p>
                 <p class="review-slider__p2">In a short time with Elena, I mastered grammar and replenished my completely empty vocabulary. From the first lesson I realized that I was on my plate. Elena and I became friends because she was really worried about my success. She became an authority for me, but I did not tremble in class, fearing to make the slightest mistake. Now I can brag that I'm student ...</p>
                 <a href="https://vk.com" >
                     <p class="read-more">Read more</p>
                 </a>
        </div>
        <div class="slide slide7">
            <picture>
                      <source 
                        srcset="./images/Tonya_Kucherovskaya_tablet_desktop.png 1x, ./images/Tonya_Kucherovskaya@2x_tablet_desktop.png 2x"
                        media="(min-width: 1200px)">

                        <source 
                        srcset="./images/Tonya_Kucherovskaya_tablet_desktop.png 1x, ./images/Tonya_Kucherovskaya@2x_tablet_desktop.png 2x"
                        media="(min-width: 768px)">

                        <source 
                        srcset="./images/Tonya_Kucherovskaya_mob.png 1x, ./images/Tonya_Kucherovskaya@2x_mob.png 2x"
                        media="(max-width: 767px)">

                        <img src="./images/Tonya_Kucherovskaya_mob.png" alt="Tonya" class="slides-p__img">
                    </picture>
                 <a href="https://vk.com" aria-label="Vk"><img src="./svg/vk.svg" alt="Vk-icon" class="slides-p__vk"></a>
                
    
                <h3 class="review-slider__header">Tonya Kucherovskaya</h3>
                 <p class="review-slider__p">Graduated from 2015, 
        National University of Bioresources and natural history of Ukraine</p>
                 <p class="review-slider__p2">In a short time with Elena, I mastered grammar and replenished my completely empty vocabulary. From the first lesson I realized that I was on my plate. Elena and I became friends because she was really worried about my success. She became an authority for me, but I did not tremble in class, fearing to make the slightest mistake. Now I can brag that I'm student ...</p>
                 <a href="https://vk.com" >
                     <p class="read-more">Read more</p>
                 </a>
        </div>
	</div>	
	<div class="controls">
        <label for="slide7" class="right"><img src="./svg/right.svg" alt="svg-right"></label>
		<label for="slide1" class="bar"><img src="./images/student7.png" alt="student" class="img-og"></label>
		<label for="slide2" class="bar"><img src="./images/student2.png" alt="student" class="img-og"></label>
		<label for="slide3" class="bar"><img src="./images/student3.png" alt="student" class="img-og"></label>
		<label for="slide4" class="bar"><img src="./images/student4.png" alt="student" class="img-og"></label>
		<label for="slide5" class="bar"><img src="./images/student5.png" alt="student" class="img-og"></label>
        <label for="slide6" class="bar"><img src="./images/student6.png" alt="student" class="img-og"></label>
        <label for="slide7" class="bar"><img src="./images/student1.png" alt="student" class="img-og"></label>
        <label for="slide1" class="left"><img src="./svg/left.svg" alt="svg-left"></label>
	</div>
</div> 
    </div>
   
</section>  







<section class="review-tablet">
    <h2 class="review-tablet-header">Feedback from graduates</h2>
<div class="container">
    
<div class="wrapper">
	<input class="review-tablet__input" type="radio" name="point" id="slides1" checked>
	<input class="review-tablet__input" type="radio" name="point" id="slides2">
	<input class="review-tablet__input" type="radio" name="point" id="slides3">
	<input class="review-tablet__input" type="radio" name="point" id="slides4">
	<input class="review-tablet__input" type="radio" name="point" id="slides5">
    <input class="review-tablet__input" type="radio" name="point" id="slides6">
    <input class="review-tablet__input" type="radio" name="point" id="slides7">

   
	<div class="slider">
		<div class="slides slides1">
            <picture>
                      <source 
                        srcset="./images/Tonya_Kucherovskaya_tablet_desktop.png 1x, ./images/Tonya_Kucherovskaya@2x_tablet_desktop.png 2x"
                        media="(min-width: 1200px)">

                        <source 
                        srcset="./images/Tonya_Kucherovskaya_tablet_desktop.png 1x, ./images/Tonya_Kucherovskaya@2x_tablet_desktop.png 2x"
                        media="(min-width: 768px)">

                        <source 
                        srcset="./images/Tonya_Kucherovskaya_mob.png 1x, ./images/Tonya_Kucherovskaya@2x_mob.png 2x"
                        media="(max-width: 767px)">

                        <img src="./images/Tonya_Kucherovskaya_mob.png" alt="Tonya" class="slides-p__img">
                    </picture>
                 <a href="https://vk.com" aria-label="Vk"><img src="./svg/vk.svg" alt="Vk-icon" class="slides-p__vk"></a>
                
                <div class="slider-container">
                <h3 class="review-slider__header">Tonya Kucherovskaya</h3>
                 <p class="review-slider__p">Graduated from 2015, National University of Bioresources
and natural history of Ukraine</p>
                 <p class="review-slider__p2">In a short time with Elena, I mastered grammar and replenished my completely empty vocabulary. From the first lesson I realized that I was on my plate. Elena and I became friends because she was really worried about my success. She became an authority for me, but I did not tremble in class, fearing to make the slightest mistake. Now I can brag that I'm student ...</p>
                 <a href="https://vk.com" >
                     <p class="read-more">Read more</p>
                 </a>
        </div>
        </div>
		<div class="slides slides2">
            <picture>
                      <source 
                        srcset="./images/student2.png 1x, ./images/student2@2x.png 2x"
                        media="(min-width: 1200px)">

                        <source 
                        srcset="./images/student2.png 1x, ./images/student2@2x.png 2x"
                        media="(min-width: 768px)">

                        <source 
                        srcset="./images/student2.png 1x, ./images/student2@2x.png 2x"
                        media="(max-width: 767px)">

                        <img src="./images/student2.png" alt="Tonya" class="slides-p__img" width="150" height="150">
                    </picture>
                 <a href="https://vk.com" aria-label="Vk"><img src="./svg/vk.svg" alt="Vk-icon" class="slides-p__vk"></a>
                
                <div class="slider-container">
                <h3 class="review-slider__header">Elena Kucher</h3>
                 <p class="review-slider__p">Graduated from 2015, 
        National University of Bioresources and natural history of Ukraine</p>
                 <p class="review-slider__p2">In a short time with Elena, I mastered grammar and replenished my completely empty vocabulary. From the first lesson I realized that I was on my plate. Elena and I became friends because she was really worried about my success. She became an authority for me, but I did not tremble in class, fearing to make the slightest mistake. Now I can brag that I'm student ...</p>
                 <a href="https://vk.com" >
                     <p class="read-more">Read more</p>
                 </a>
        </div>
        </div>
		<div class="slides slides3">
            <picture>
                      <source 
                        srcset="./images/student3.png 1x, ./images/student3@2x.png 2x"
                        media="(min-width: 1200px)">

                        <source 
                        srcset="./images/student3.png 1x, ./images/student3@2x.png 2x"
                        media="(min-width: 768px)">

                        <source 
                        srcset="./images/student3.png 1x, ./images/student3@2x.png 2x"
                        media="(max-width: 767px)">

                        <img src="./images/student3.png" alt="Tonya" class="slides-p__img" width="150" height="150">
                    </picture>
                 <a href="https://vk.com" aria-label="Vk"><img src="./svg/vk.svg" alt="Vk-icon" class="slides-p__vk"></a>
                
                <div class="slider-container">
                <h2 class="review-slider__header">Maria Radchenko</h2>
                 <p class="review-slider__p">Graduated from 2015, 
        National University of Bioresources and natural history of Ukraine</p>
                 <p class="review-slider__p2">In a short time with Elena, I mastered grammar and replenished my completely empty vocabulary. From the first lesson I realized that I was on my plate. Elena and I became friends because she was really worried about my success. She became an authority for me, but I did not tremble in class, fearing to make the slightest mistake. Now I can brag that I'm student ...</p>
                 <a href="https://vk.com" >
                     <p class="read-more">Read more</p>
                 </a>
        </div>
        </div>
		<div class="slides slides4">
            <picture>
                      <source 
                        srcset="./images/student4.png 1x, ./images/student4@2x.png 2x"
                        media="(min-width: 1200px)">

                        <source 
                        srcset="./images/student4.png 1x, ./images/student4@2x.png 2x"
                        media="(min-width: 768px)">

                        <source 
                        srcset="./images/student4.png 1x, ./images/student4@2x.png 2x"
                        media="(max-width: 767px)">

                        <img src="./images/student4.png" alt="Tonya" class="slides-p__img" width="150" height="150">
                    </picture>
                 <a href="https://vk.com" aria-label="Vk"><img src="./svg/vk.svg" alt="Vk-icon" class="slides-p__vk"></a>
                
                <div class="slider-container">
                <h3 class="review-slider__header">Tanya Mary</h3>
                 <p class="review-slider__p">Graduated from 2015, 
        National University of Bioresources and natural history of Ukraine</p>
                 <p class="review-slider__p2">In a short time with Elena, I mastered grammar and replenished my completely empty vocabulary. From the first lesson I realized that I was on my plate. Elena and I became friends because she was really worried about my success. She became an authority for me, but I did not tremble in class, fearing to make the slightest mistake. Now I can brag that I'm student ...</p>
                 <a href="https://vk.com" >
                     <p class="read-more">Read more</p>
                 </a>
        </div>
        </div>
		<div class="slides slides5">
            <picture>
                      <source 
                        srcset="./images/student5.png 1x, ./images/student5@2x.png 2x"
                        media="(min-width: 1200px)">

                        <source 
                        srcset="./images/student5.png 1x, ./images/student5@2x.png 2x"
                        media="(min-width: 768px)">

                        <source 
                        srcset="./images/student5.png 1x, ./images/student5@2x.png 2x"
                        media="(max-width: 767px)">

                        <img src="./images/student5.png" alt="Tonya" class="slides-p__img" width="150" height="150">
                    </picture>
                 <a href="https://vk.com" aria-label="Vk"><img src="./svg/vk.svg" alt="Vk-icon" class="slides-p__vk"></a>
                
                <div class="slider-container">
                <h3 class="review-slider__header">Kira Melnyk</h3>
                 <p class="review-slider__p">Graduated from 2015, 
        National University of Bioresources and natural history of Ukraine</p>
                 <p class="review-slider__p2">In a short time with Elena, I mastered grammar and replenished my completely empty vocabulary. From the first lesson I realized that I was on my plate. Elena and I became friends because she was really worried about my success. She became an authority for me, but I did not tremble in class, fearing to make the slightest mistake. Now I can brag that I'm student ...</p>
                 <a href="https://vk.com" >
                     <p class="read-more">Read more</p>
                 </a>
        </div>
        </div>
        <div class="slides slides6">
    
           <picture>
                      <source 
                        srcset="./images/student1.png 1x, ./images/student1@2x.png 2x"
                        media="(min-width: 1200px)">

                        <source 
                        srcset="./images/student1.png 1x, ./images/student1@2x.png 2x"
                        media="(min-width: 768px)">

                        <source 
                        srcset="./images/student1.png 1x, ./images/student1@2x.png 2x"
                        media="(max-width: 767px)">

                        <img src="./images/student1.png" width="150" height="150" alt="Tonya" class="slides-p__img">
                    </picture>

                 <a href="https://vk.com" aria-label="Vk"><img src="./svg/vk.svg" alt="Vk-icon" class="slides-p__vk"></a>
                
                <div class="slider-container">
                <h3 class="review-slider__header">Irina Kosova</h3>
                 <p class="review-slider__p">Graduated from 2015, 
        National University of Bioresources and natural history of Ukraine</p>
                 <p class="review-slider__p2">In a short time with Elena, I mastered grammar and replenished my completely empty vocabulary. From the first lesson I realized that I was on my plate. Elena and I became friends because she was really worried about my success. She became an authority for me, but I did not tremble in class, fearing to make the slightest mistake. Now I can brag that I'm student ...</p>
                 <a href="https://vk.com" >
                     <p class="read-more">Read more</p>
                 </a>
        </div>
        </div>
        <div class="slide slides7">
            <picture>
                      <source 
                        srcset="./images/student7.png 1x, ./images/student7@2x.png 2x"
                        media="(min-width: 1200px)">

                        <source 
                        srcset="./images/student7.png 1x, ./images/student7@2x.png 2x"
                        media="(min-width: 768px)">

                        <source 
                        srcset="./images/student7.png 1x, ./images/student7@2x.png 2x"
                        media="(max-width: 767px)">

                        <img src="./images/student7.png" alt="Tonya" class="slides-p__img" width="150" height="150">
                    </picture>
                 <a href="https://vk.com" aria-label="Vk"><img src="./svg/vk.svg" alt="Vk-icon" class="slides-p__vk"></a>
                
                <div class="slider-container">
                <h3 class="review-slider__header">Alexandra Dorya</h3>
                 <p class="review-slider__p">Graduated from 2015, 
        National University of Bioresources and natural history of Ukraine</p>
                 <p class="review-slider__p2">In a short time with Elena, I mastered grammar and replenished my completely empty vocabulary. From the first lesson I realized that I was on my plate. Elena and I became friends because she was really worried about my success. She became an authority for me, but I did not tremble in class, fearing to make the slightest mistake. Now I can brag that I'm student ...</p>
                 <a href="https://vk.com" >
                     <p class="read-more">Read more</p>
                 </a>
        </div>
        </div>
	</div>	
	<div class="controls">
        <label for="slides7" class="right"><img src="./svg/right.svg" alt="svg-right"></label>
		<label for="slides1" class="bar"><img src="./images/student6.png" alt="student"></label>
		<label for="slides2" class="bar"><img src="./images/student2.png" alt="student"></label>
		<label for="slides3" class="bar"><img src="./images/student3.png" alt="student"></label>
		<label for="slides4" class="bar"><img src="./images/student4.png" alt="student"></label>
		<label for="slides5" class="bar"><img src="./images/student5.png" alt="student"></label>
        <label for="slides6" class="bar"><img src="./images/student1.png" alt="student"></label>
        <label for="slides7" class="bar"><img src="./images/student7.png" alt="student"></label>
        <label for="slides1" class="left"><img src="./svg/left.svg" alt="svg-left"></label>
	</div>
</div>
</div>
</section>