.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 201;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;

    .modal {
      transform: translate(-50%, -50%) scale(0.5);
    }
  }
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  width: 100vw;
  height: 100vh;
  padding: 40px;
  background: $secondary-text-color;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: $background-color;
  padding: 0;
  cursor: pointer;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    fill: $secondary-color;
    outline: none;
  }
}

.form-description {
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.03em;
  color: $background-secondary-color;
}

.contact-form-field {
  display: block;
  margin-bottom: 10px;
}

.contact-form-input {
  width: 100%;
  height: 40px;
  background-color: $primary-color;
  border: 2px solid $secondary-color;
  border-radius: 4px;
  padding-left: 42px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    border-color: $secondary-color;
    outline: none;
  }
}

.label-description {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: $background-color;
}

.contact-form-input-wrapper {
  position: relative;
  display: block;
  margin-top: 4px;
}

.contact-form-icon {
  position: absolute;
  top: 0;
  left: 12px;
  transform: translateY(50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  .contact-form-input:hover + &,
  .contact-form-input:focus + & {
    fill: $secondary-color;
  }
}

.contact-form-message {
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  margin-top: 4px;
  background-color: $primary-color;
  border: 2px solid $secondary-color;
  border-radius: 4px;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    border-color: $secondary-color;
    outline: none;
  }

  &::placeholder {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
  }
}

.contact-form-checkbox-wrapper {
  display: flex;
  margin-top: 20px;
  margin-bottom: 30px;
  justify-content: center;
}

.contact-form-submit-btn {
  display: block;
  margin: 45px auto;
  min-width: 200px;
  height: 50px;
  padding-top: 10px;
  padding-bottom: 10px;
  border: none;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  letter-spacing: 0.06em;
  cursor: pointer;
  color: $background-color;
  background-color: $secondary-color;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: $secondary-color;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    outline: none;
  }
}

@media screen and (max-width: 449px) {
  .modal {
    width: 100vw;
    height: 100vh;
  }
  .contact-form-checkbox-label {
    align-items: stretch;
  }
}
@media screen and (min-width: 480px) {
  .modal {
    width: 450px;
  }
}

@media screen and (min-width: 1679px) {
  .modal {
    width: 528px;
    height: 581px;
  }
  .form-description {
    line-height: 1.15;
  }
  .accept-description {
    font-size: 14px;
    line-height: 1.71;
  }
  .contact-form-message::placeholder {
    font-size: 12px;
    line-height: 1.17;
  }

  .checkbox-icon {
    top: 4px;
  }
}
