.container{
    margin-left: auto;
    margin-right: auto;
    
    @media screen and (min-width: 480px){
        width: 480px;
    }
    @media screen and (min-width: 768px){
        width: 768px;
    }
    @media screen and (min-width: 1366px){
        width: 1366px;
    }
}